<div class="container">
	<div class="row">
		<div class="col-lg-3">
        	<%= form_for(@user) do |f|%>
        	    <h1>User info</h1>
				<h4>Name</h4>
				<%= f.text_field  :name %>
				<h4>Image</h4>
				<%= f.attachment_field :profile_image %>
				<h4>Introduction</h4>
				<%= f.text_area :introduction %>
				<%= f.submit %>
			<% end %>



<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
　<% end %>


	</div>
	</div>
</div>
