<div class="body">		



		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">

					<% if @book.errors.any? %>
					    　<h2><%= @book.errors.count %>errors prohibited this obj from being saved:</h2><br>
  						<% @book.errors.full_messages.each do |message| %>
   						     <li><%= message %></li>
 				        <% end %>
   				    <% end %>

					<h1>Editing Book</h1>
					<%= form_for(@book) do |f| %>
					<label>Title</label><br>
					<%= f.text_field :title, class: "book_title width" %><br>
					<label>Opinion</label><br>
					<%= f.text_area :body, class: "book_body width" %><br>
					<%= f.submit "Update Book", class: "btn btn-primary width" %><br>
					<% end %>
					<%= link_to "Show", book_path(@book) %>
					<%= link_to "Back", books_path %>
				</div>
    		 </div>
		</div>
</div>