<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>
<div class ="container">
	<div class ="row">
	  <div class ="col-xs-3">
		<%= render 'books/list', book: @book, user: @user %>
      </div>
      <div class="col-xs-9">
		<h1>Book detail</h1>
		<table class="table table-striped">
			 <thead>
				<tr>
					<td></td>
					<td>Title</td>
					<td>Opinion</td>
				</tr>
			</thead>
	 		<tbody>
				<tr>
					<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "bookimage img pull-left profile-thumb"%><br><br>
					<%=link_to @user.name, user_path(@user.id) %></td>
					<td><%= link_to @sa.title, book_path(@sa) %></td>
					<td><%= @sa.body %></td>
					<td>
						<% if @sa.user == current_user %>
					        <button type="button" class="btn-success"><%= link_to "Edit", edit_book_path(@sa)%></td></button>
						<% end %>
					<td>
						<% if @sa.user == current_user %>
					       <button type="button" class="btn-danger"><%= link_to "Destroy", book_path(@sa), method: :delete%></button>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>
	  </div>
	</div>
</div>